<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/headAdminTag :: headAdminTag">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style type="text/css">
			.categorias {
				font-size: 12px !important; 
				text-transform: capitalize !important;
			}

		</style>
	</head>
<body>
	<div th:include="fragments/bodyHeaderAdmin" th:remove="tag"></div>
	<div class="container">
		<h1>Cadastro de Produto</h1>
		<form th:action="@{/produtos/gravar}" method="post" th:object="${produto}" id="formCadastroProduto">
			<input type="hidden" th:field="*{id}" th:value="${id}"/>
			<div class="form-group">
				<h3>Título</h3> 
				<input type="text" th:field="*{titulo}" class="form-control" th:value="${titulo}" placeholder="Título"/>
				<label class="error" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Name error</label>
			</div>
			<div class="form-group">
				<h3>Descrição</h3>
				<textarea th:field="*{descricao}" rows="10" cols="20" class="form-control"></textarea>
				<label class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Name error</label>
			</div>
			<div class="form-group">
				<h3>Data lançamento</h3> 
				<input type="date" th:field="*{dataLancamento}" th:value="${dataLancamento}" class="dataLancamento" placeholder="dd/MM/YYYY"/>
				<label class="error" th:if="${#fields.hasErrors('dataLancamento')}" th:errors="*{dataLancamento}">Name error</label>
			</div>
			<div class="form-group">
				<h3>Páginas</h3> 
				<input type="text" th:field="*{paginas}" th:value="${paginas}"/>
				<label class="error" th:if="${#fields.hasErrors('paginas')}" th:errors="*{paginas}">Name error</label>
			</div>
			<div class="form-group">
				<h3>Preços</h3>
				<label class="error" th:if="${#fields.hasErrors('tipoPrecos')}" th:errors="*{tipoPrecos}">Name error</label>
				<span th:each="tipoPreco,status : ${tipo}">
					<label><span th:text="${tipoPreco}"></span></label>
					<input type="hidden" th:name="|tipoPrecos[${status.index}].preco|" th:value="${tipoPreco.name}" class="form-control"/>
					<input type="text" th:field="*{tipoPrecos[__${status.index}__].valor}" class="form-control preco"/>
				</span>
			</div>
			<div class="form-group">
				<label class="error" th:if="${#fields.hasErrors('categorias')}" th:errors="*{categorias}">Name error</label>
				<h3>Categoria</h3><br/>
				<span th:each="categoria,status : ${categorias}">
					<span th:text="${categoria}"></span> 
					<input type="checkbox" th:field="*{categorias}" th:value="${categoria}" class="form-control categorias"/>
				</span>
			</div>
			<div class="form-group">
				<label>URL sumário</label>
				<input type="text" th:field="*{sumarioPath}"  class="form-control" th:value="${sumarioPath}"/>
				<label class="error" th:if="${#fields.hasErrors('sumarioPath')}" th:errors="*{sumarioPath}">Name error</label>
			</div>
			<button type="submit">Salvar</button>
		</form>
	</div>
</body>
<script th:inline="javascript">
$(document).ready(function(){
	  $('.dataLancamento').mask('00/00/0000');
	  $('.preco').mask('000.00', {reverse: true});
	});

</script>
</html>