<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body th:fragment="bodyHeaderAdmin">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed"
                    data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Casa do Código</a>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/produtos/listar}">Lista de Produtos</a></li>
                <li><a th:href="@{/produtos/form}">Cadastro de Produtos</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
</body>
</html>
