<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headAdminTag">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="icon"
			href="//cdn.shopify.com/s/files/1/0155/7645/t/227/assets/favicon.png?10819079710396025174"
			type="image/ico" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
	</head>
	<body>
	</body>
</html>