<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/headTag :: headTag">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Casa do Código</title>
	</head>
<body>
	<div th:include="fragments/bodyHeader" th:remove="tag" />
	<article id="livro-css-eficiente">
		<header id="product-highlight" class="clearfix">
			<div id="product-overview" class="container">
				<img class="product-featured-image" width="280px" height="395px" th:attr="src=@{${produto.sumarioPath}},alt=${produto.titulo},title=${produto.titulo}" />
				<h1 class="product-title"><span th:text="${produto.titulo}"/></h1>
				<p class="product-author">
					<span class="product-author-link"> </span>
				</p>
				<p class="book-description"><span th:text="${produto.descricao}"/></p>
			</div>
		</header>
		<section class="buy-options clearfix">
			<form th:action="@{/carrinho/add}" method="post" class="container">
				<input type="hidden" name="produtoId" th:value="${produto.id}"/>
					<ul th:each="preco : ${produto.tipoPrecos}" id="variants" class="clearfix">
						<li class="buy-option">
							<input type="radio" name="tipo"	class="variant-radio" th:id="${preco.preco}" th:value="${preco.preco}" />
							<label class="variant-label" for="product-variant-9720393823">
								<span th:text="${preco.preco}"/> 
							</label> 
							<small class="compare-at-price">R$ 39,90</small>
							<p class="variant-price">
								<span th:text="${preco.valor}"/>
							</p>
						</li>
					</ul>
				<button type="submit" class="submit-image icon-basket-alt"
					alt="Compre Agora" title="Compre Agora"></button>
			</form>

		</section>

		<div class="container">
			<section class="summary">
				<ul>
					<li><h3>
							E muito mais... <a href='#'>veja o sumário</a>.
						</h3></li>
				</ul>
			</section>

			<section class="data product-detail">
				<h2 class="section-title">Dados do livro:</h2>
				<p>
					Número de páginas: <span th:text="${produto.paginas}"/>
				</p>
				<p></p>
				<p>
<!-- 					Data de publicação: <span th:text="${#temporals.format(produto.dataLancamento.time, 'dd/MMM/yyyy HH:mm')}"/> -->
				</p>
				<p>
					Encontrou um erro? <a href='#' target='_blank'>Submeta uma
						errata</a>
				</p>
			</section>
		</div>

	</article>
	<div th:include="fragments/footer" th:remove="tag"/>
	<script th:inline="javascript">
		$(document).ready(function() {
		    $('#EBOOK').prop( "checked", true );
		});
	
	</script>
</body>
</html>