<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headAdminTag :: headAdminTag">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
			.categorias {
				font-size: 12px !important; 
				text-transform: capitalize !important;
			}


    </style>
</head>
<body>
<div th:include="fragments/bodyHeaderAdmin" th:remove="tag"></div>
<div class="container">
    <h1>Cadastro de Produto</h1>
    <form id="formCadastroProduto" method="post" th:action="@{/produtos/gravar}" th:object="${produto}">
        <input th:field="*{id}" th:value="${id}" type="hidden"/>
        <div class="form-group">
            <h3>Título</h3>
            <input class="form-control" placeholder="Título" th:field="*{titulo}" th:value="${titulo}" type="text"/>
            <label class="error" th:errors="*{titulo}" th:if="${#fields.hasErrors('titulo')}">Name error</label>
        </div>
        <div class="form-group">
            <h3>Descrição</h3>
            <textarea class="form-control" cols="20" rows="10" th:field="*{descricao}"></textarea>
            <label class="error" th:errors="*{descricao}" th:if="${#fields.hasErrors('descricao')}">Name error</label>
        </div>
        <div class="form-group">
            <h3>Data lançamento</h3>

            <input autocomplete="off" class="dataLancamento" placeholder="dd/MM/YYYY" th:field="*{dataLancamento}"
                   type="text"/>
            <label class="error" th:errors="*{dataLancamento}" th:if="${#fields.hasErrors('dataLancamento')}">Name
                error</label>
        </div>
        <div class="form-group">
            <h3>Páginas</h3>
            <input th:field="*{paginas}" th:value="${paginas}" type="text"/>
            <label class="error" th:errors="*{paginas}" th:if="${#fields.hasErrors('paginas')}">Name error</label>
        </div>
        <div class="form-group">
            <h3>Preços</h3>
            <label class="error" th:errors="*{tipoPrecos}" th:if="${#fields.hasErrors('tipoPrecos')}">Name error</label>
            <span th:each="tipoPreco,status : ${tipo}">
					<label><span th:text="${tipoPreco}"></span></label>
					<input class="form-control" th:name="|tipoPrecos[${status.index}].preco|" th:value="${tipoPreco.name}"
                           type="hidden"/>
					<input class="form-control preco" th:field="*{tipoPrecos[__${status.index}__].valor}" type="text"/>
				</span>
        </div>
        <div class="form-group">
            <label class="error" th:errors="*{categorias}" th:if="${#fields.hasErrors('categorias')}">Name error</label>
            <h3>Categoria</h3><br/>
            <span th:each="categoria,status : ${categorias}">
					<span th:text="${categoria}"></span> 
					<input class="form-control categorias" th:field="*{categorias}" th:value="${categoria}"
                           type="checkbox"/>
				</span>
        </div>
        <div class="form-group">
            <label>URL sumário</label>
            <input class="form-control" th:field="*{sumarioPath}" th:value="${sumarioPath}" type="text"/>
            <label class="error" th:errors="*{sumarioPath}" th:if="${#fields.hasErrors('sumarioPath')}">Name
                error</label>
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>
</body>
<script th:inline="javascript">
$(document).ready(function(){
   	  $('.dataLancamento').datepicker({
			autoclose: true,
			todayHighlight: true,
			format: "dd/mm/yyyy"
      });
	  $('.preco').mask('000.00', {reverse: true});
	});


</script>
</html>