<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
    <title>Casa do Código - Criar usuário</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>Cadastro de Usuário</h1>
    <form action="#" id="registrationlogin" method="post" th:action="@{/login/gravar}" th:object="${usuario}">
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" id="name" th:field="*{name}" type="text"/>
            <label class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name error</label>
        </div>
        <div class="form-group">
            <label>Login</label>
            <input class="form-control" id="username" placeholder="Digite seu email" th:field="*{username}"
                   type="text"/>
            <label class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username error</label>
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input class="form-control" id="password" placeholder="Digite uma senha" th:field="*{password}"
                   type="password"/>
            <label class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password error</label>
        </div>
        <div class="form-group">
            <label>Confirmar Senha</label>
            <input class="form-control" id="passwordConfirm" placeholder="Confirme sua senha" th:field="*{passwordConfirm}"
                   type="password"/>
        </div>
        <div class="form-group">
            <label>Tipo de Usuário</label>
            <select class="form-control" id="roleUser" name="role">
                <option label="Select" value="0">Selecione</option>
                <option label="ADMIN" value="ROLE_ADMIN">Admin</option>
                <option label="CLIENT" value="ROLE_CLIENT">Cliente</option>
            </select>
        </div>
        <button id="salvar" type="submit">Salvar</button>
    </form>
</div>
</body>
<script type="text/javascript">

//Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("#registrationlogin").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      name: "required"
      username: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          email: true
        },
      lastname: "required",
      password: {
        required: true,
        minlength: 5
      },
      passwordConfirm: "required"
    },
    // Specify validation error messages
    messages: {
      name: "Digite seu nome",
      username: "Digite seu email de usuário",
      password: {
        required: "Digite sua Senha",
        minlength: "Sua senha deve ter no mínimo 5 caracteres"
      },
      email: "Digite um email válido"
    }
  });
});

// 	document.getElementById("salvar").addEventListener('click', function(evt){
// 		var senha = document.getElementById("password").value.trim();
// 		var confirmarSenha = document.getElementById("passwordConfirm").value.trim();
		
// 		if($('#roleUser').find(":selected").text() ==  'Selecione'){
// 			alert('Selecione um tipo de Usuário');
// 			evt.preventDefault();
// 			return;
// 		}	
		
// 		if (senha != confirmarSenha){
// 			alert('Senhas digitadas incompatíveis');
// 			senha.value =="";
// 			confirmarSenha.value =="";
// 			evt.preventDefault();
// 		}	
// 	})


</script>
</html>