<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/headTag :: headTag">
		<!-- HTML 4 -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- HTML5 -->
		<meta charset="utf-8"/>
		<title>Casa do Código</title>
	</head>
	<body>
		<div th:include="fragments/bodyHeader" th:remove="tag"/>
		<section id="index-section" class="container middle">
			<h1 class="cdc-call"><span th:text = "#{home.mensagem.aviso}"/></h1>
			<ul class="clearfix book-collection">
				<li th:each="produto : ${produtos}">
					<a th:href="@{/produtos/detalhe/} + ${produto.id}" class="block clearfix">
						<h2 class="product-title"><span th:text="${produto.titulo}"/></h2>
						<img th:attr="src=@{${produto.sumarioPath}},alt=${produto.titulo},title=${produto.titulo}" />
					</a>
				</li>
			<center th:if="${produtos.isEmpty()}">
				<h3 class="product-title"><span th:text = "#{home.sem.produtos}"/></h3>
			</center>
			</ul>
	
			<h2 class="cdc-call"><span th:text = "#{home.diferenciais}"/></h2>
	
			<ul id="cdc-diferenciais" class="clearfix">
				<li class="col-left">
					<h3><span th:text = "#{home.ebook.titulo}"/></h3>
					<p>
						<span class="sprite" id="sprite-drm"></span>
						<span th:text = "#{home.ebook.texto}"/>
					</p>
				</li>
				<li class="col-right">
					<h3><span th:text = "#{home.autor.titulo}"/></h3>
					<p>
						<span class="sprite" id="sprite-renome"></span>
						<span th:text = "#{home.autor.texto}"/>
					</p>
				</li>
				<li class="col-left">
					<h3><span th:text = "#{home.atualizacao.titulo}"/></h3>
					<p>
						<span class="sprite" id="sprite-atualizacoes"></span>
						<span th:text = "#{home.atualizacao.texto}"/>
					</p>
				</li>
				<li class="col-right">
					<h3><span th:text = "#{home.curadoria.titulo}"/></h3>
					<p>
						<span class="sprite" id="sprite-caelum"></span>
						<span th:text = "#{home.curadoria.texto}"/>
					</p>
				</li>
		</ul>
	</section>
	<div th:include="fragments/footer" th:remove="tag"/>
	</body>
</html>