<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headTag">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="icon"
			href="//cdn.shopify.com/s/files/1/0155/7645/t/227/assets/favicon.png?10819079710396025174"
			type="image/ico" />
		<link href="https://plus.googlecom/108540024862647200608"
		rel="publisher" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
		<link th:href="@{/js/jquery-3.1.1.min.js}"/>
		<link th:href="@{/js/bootstrap.min.js}" />
		<link th:href="@{/css/cssbase-min.css}" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' />
		<link th:href="@{/css/fonts.css}" rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/fontello-ie7.css}" rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/fontello-embedded.css}"	rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/fontello.css}" rel="stylesheet"	type="text/css" media="all" />
		<link th:href="@{/css/style.css}" rel="stylesheet"	type="text/css" media="all" />
		<link th:href="@{/css/layout-colors.css}"	rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/responsive-style.css}"	rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/guia-do-programador-style.css}"	rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/produtos.css}" rel="stylesheet"	type="text/css" media="all" />
		<link th:href="@{/css/book-collection.css}" rel="stylesheet" type="text/css"  media="all"  />
	    <link th:href="@{/css/checkout-style.css}" rel="stylesheet" type="text/css"  media="all"  /> 
		<link rel="canonical" href="http://www.casadocodigo.com.br/" />

	</head>
	<body>
	</body>
</html>